@model Airline.Models.FlightView

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>FlightView</legend>


        <div class="editor-field">
            @Html.HiddenFor(model => model.FlightId)
            @Html.ValidationMessageFor(model => model.FlightId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.From)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.From)
            @Html.ValidationMessageFor(model => model.From)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.To)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.To)
            @Html.ValidationMessageFor(model => model.To)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DepatureDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DepatureDate)
            @Html.ValidationMessageFor(model => model.DepatureDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ArrivalDate)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ArrivalDate)
            @Html.ValidationMessageFor(model => model.ArrivalDate)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StatusId)
        </div>
        <div class="editor-field">
            @Html.DropDownListFor(model => model.StatusId, Model.StatusList as List<SelectListItem>)
            @Html.ValidationMessageFor(model => model.StatusId)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
